<!DOCTYPE html>
<html lang="nl" data-ng-app="diary">
  <head>
    <meta charset="utf-8" />
    <title>Online dagboek - online-dagboek.nl</title>
    <link rel="stylesheet" href="{{url_for('site.static', filename='css/style.css')}}" />
  </head>
  <body>
    <header>
      <nav data-diary-navigation></nav>
      <div id="fb-root"></div>
      <div class="fb-login-button" data-max-rows="1"
           data-size="medium" data-show-faces="false"
           data-auto-logout-link="true" data-onlogin="checkLoginState();">
      </div>
    </header>
    <main data-diary-content></main>
    <footer data-diary-footer></footer>

    <script src="//code.angularjs.org/1.3.2/angular.min.js"
            type="text/javascript" charset="utf-8"></script>
    <script src="//code.angularjs.org/1.3.2/angular-route.min.js"
            type="text/javascript" charset="utf-8"></script>
    <script src="//code.angularjs.org/1.3.2/angular-resource.min.js"
            type="text/javascript" charset="utf-8"></script>
    <script src="{{url_for('site.static', filename='js/diary.app.js')}}"
            type="text/javascript" charset="utf-8"></script>
    <script src="{{url_for('site.static', filename='js/diary.facebook.js')}}"
            type="text/javascript" charset="utf-8"></script>
  </body>
</html>
